@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth transitions when theme changes */
html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-500 ease-in-out bg-base-100 text-base-content;
}
